<h2>Información del sistema</h2>
<div class="table-responsive">
    <table class="table table-dark">
        <tr><td>Argumentos</td>
        <td>{{ info.args }}</td> </tr>
        <tr><td>Path de ejecucion</td>
        <td>{{ info.path }}</td> </tr>
        <tr><td>Carpeta del proyecto</td>
        <td>{{ info.cwd }}</td> </tr>
        <tr><td>PID</td>
        <td>{{ info.pid }}</td> </tr>
        <tr><td>Version de node</td>
        <td>{{ info.node }}</td> </tr>
        <tr><td>Plataforma</td>
        <td>{{ info.os }}</td> </tr>
        <tr><td>Cpus</td>
        <td>{{ info.cpus }}</td> </tr>
        <tr><td>rss</td>
        <td>{{ info.rss }}</td> </tr>
        <tr><td>dotenv_config</td>
        <td>{{ info.dotenv_config }}</td> </tr>
        </tr>
    </table>
</div>